@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Saira:wght@500&display=swap');

:root {
    --primary-color: #033b4a;
    --secondary-color: #20c997;
    --gry: #4a4a4d;
    --bg: #ecf0f3;
}

body {
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: 'Saira', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-btn {
    background-color: #20c997;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all .3s ease;
}

.main-btn:hover {
    background-color: transparent;
    color: white;
}

.navbar {
    background-color: var(--primary-color);
    border-bottom: 2px solid white;


}

.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: var(--secondary-color);

}

.navbar-brand {
    color: white;
    font-weight: 600px;
    font-weight: bold;
    font-size: 18px;
}

.navbar-brand:hover {
    color: white;
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border: 1px solid white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

#home {
    background-color: #033b4a;
    min-height: calc(100vh - 75px);
}

.icons a i {
    padding: 10px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 10px;
    transition: all .3s ease;
    font-size: 22px;
}

.icons a :hover {
    transform: scale(.85);
    background-color: var(--secondary-color);
}

#title-name {
    text-shadow: 3px 3px 2px rgba(255, 255, 255, .3);
}

.title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
}

.star {
    color: yellow;
}

#skills {
    background-color: var(--primary-color);
}

.item i {
    font-size: 40px;
    margin-bottom: 10px;
    padding: 10px;
    transition: all .3s ease;
    border-radius: 50%;
}

.item i:hover {
    transform: scale(.85);
    background-color: var(--secondary-color);
}

.item h3 {
    color: var(--secondary-color);
    font-weight: bold;
}

#portfolio h2 {
    color: var(--primary-color);
}

.portfolio::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
}

.item2 img {
    width: 400px;
    height: 400px;
    transition: all .3s ease;
}
.item2 h3 {
    color: var(--primary-color);
    font-weight: bold;
}

.item2 img:hover {
    transform: scale(.85);
}
#contact{
    background-color: var(--primary-color);
    margin-top: 30px;
    padding-bottom: 20px;
}
#contact h2{
    padding-top: 50px;
}
.items3 input,
.items3 textarea {
    display: block;
    width: 40%;
     margin-left:auto;margin-right: auto;
    padding: 10px;
    outline: none;
    border: 3px solid var(--gry);
}
